.body {
    background-color: rgb(13, 13, 15);
    color: rgb(40, 152, 49);
    font-family: 'Courier New', Courier, monospace;
}
.traj {
    padding: 20px;
    margin-right: 50%;
    border: 2px solid rgb(152, 217, 0);
}